{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title  %}Phone{% endblock %}

{% block page_content %}
    <table class="table table-bordered">
    <tr>
{#        <th>用户ID</th>#}
        <th>操作系统</th>
        <th>手机年份</th>
        <th>手机品牌</th>
        <th>所有者</th>
        <th>删除</th>
        <th>修改</th>



    </tr>
        {% for i in phone_all %}
            <tr>
{#                <td>{{ i.id }} </td>#}
                <td>{{ i.machine_os }}</td>
                <td>{{ i.machine_year }}</td>
                <td>{{ i.machine_pinpai }}</td>
                <td>{{ i.machine_owner }}</td>
                <td><a href="{{ url_for('phone.delphone',id = i.id) }}" >删除该手机</a></td>
                <td><a href="{{ url_for('phone.edit',id = i.id) }}" >修改信息</a></td>

            </tr>
    {% endfor %}
    </table>
    <div class="col-md-4">
        {{ wtf.quick_form(form)  }}
    </div>



{% endblock %}